@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --black-bg: #2f303a;
  --primary-white-color: #ffffff;
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

/* основной цвет color: #212121 *

/* вторичный основной цвет color: #757575;  */
/* Акцент color: #2196F3; */
/* Белый color: #FFFFFF; */
/* Цвет фона background: #F5F5F5; */
/* Вторичный цвет фона background: #F5F4FA; */
/* Тёмный фон background: #2F303A; */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  /* padding-left: 15px;
      padding-right: 15px; */
  padding-top: 94px;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-block;
  width: 270px;
  text-align: left;
  color: var(--primary-text-color);
}

.second-text {
  color: var(--title-text-color);
  display: inline-block;
  text-align: left;
}

.section-title {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons {
  fill: currentColor;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.button {
  /* display:inline-block; */
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition-property: color, background-color;
  transition-duration: 250ms;
}
.button:active, .button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 250ms;
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 0.01px solid #ececec;
}

.header__logo-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 93px;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav__pages {
  display: flex;
  gap: 50px;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav__name {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  content: "";
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
}
.site-nav__name:hover, .site-nav__name:focus {
  color: var(--accent-color);
}

.nav-form {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: auto;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-form__item {
  transition-property: color, text-shadow;
  transition-duration: 250ms;
  color: var(--title-text-color);
}
.nav-form__item:hover, .nav-form__item:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-form__contact {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-form__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15px;
  letter-spacing: 0.02em;
}

/* Site-nav */
.link-icon {
  fill: currentColor;
  margin-right: 10px;
  transition-property: text-shadow;
  transition-duration: 250ms;
}
.link-icon:hover, .link-icon:focus {
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.19);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 45px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link.current {
  color: var(--accent-color);
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.portfolio-body {
  background-color: var(--primary-white-color);
}

.portfolio-section {
  padding: 94px 0;
}

.cont-portfolio {
  align-items: center;
}

.button-set {
  gap: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.butoon-set__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button-set__button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--second-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
}
.button-set__button:hover, .button-set__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-gallery {
  display: flex;
}

.portf-gallery__set {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
}

.projects {
  transition-property: background-color;
  transition-duration: 250ms;
  background-color: var(--primary-bg-color);
}
.projects:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects:hover .projects__text {
  transform: translateY(0);
}

.projects__description > img {
  display: block;
  width: 100%;
}

.projects__name {
  max-width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects__second-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}

.projects__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__description {
  position: relative;
  overflow: hidden;
}

.projects__text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  position: absolute;
  padding: 24px 63px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  /* transition: transform 250ms ease  ; */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  /* display:inline-block; */
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantage__icon {
  background-color: var(--second-bg-color);
  max-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 100px;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__container {
  display: flex;
  text-align: center;
  max-width: 1200px;
}

.advantage__list {
  display: flex;
  align-items: top;
  max-width: 270px;
  gap: 30px;
  color: var(--primary-text-color);
}

.ourworks {
  padding-bottom: 94px;
  text-align: center;
}

.ourworks__cont {
  text-align: center;
}

.ourworks__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.ourworks__item {
  content: "";
  position: relative;
}

.ourworks__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  content: "";
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  padding: 94px 0;
  background-color: var(--second-bg-color);
}

.team__container {
  background-color: var(--second-bg-color);
  text-align: center;
}

.team__group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__list {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.workers {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(116, 93, 93, 0.1);
}

.workers__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.workers__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.partners {
  padding: 94px 0;
}

.partners__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.partners__title {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.partners__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.partners__number {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
}
.partners__number:hover .partners__icon, .partners__number:focus .partners__icon {
  fill: var(--accent-color);
}
.partners__number:hover, .partners__number:focus {
  border-color: var(--accent-color);
}

.partners__icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
}

.footer {
  background-color: var(--black-bg);
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__nav {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
}
.footer__nav:active, .footer__nav:hover,
.footer__nav .footer__link:active,
.footer__nav .footer__link:hover {
  color: var(--accent-color);
}

.footer__adress {
  font-style: normal;
}

.footer__link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__link-mail {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer__logo-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer__numb-post {
  transition-property: color, text-shadow;
  transition-duration: 250ms;
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
}
.footer__numb-post:hover, .footer__numb-post:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join {
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}

.join__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.subscribe {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 93px;
}

.subscribe__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-left: 28px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  /* border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px; */
  transition-property: color, background-color;
  transition-duration: 250ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 28px;
}

.subscribe__icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscribe__email {
  display: flex;
}

.subscribe__second-text {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
  background: var(--primary-bg-color);
}

.form-title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);
  transform: translateY(-50%);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.textarea-label {
  position: absolute;
  top: -20px;
  left: 0;
  margin: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-textarea {
  position: relative;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  outline: none;
}
.form-textarea:not(:-moz-placeholder-shown) + .textarea-label {
  color: var(--accent-color);
}
.form-textarea:not(:-ms-input-placeholder) + .textarea-label {
  color: var(--accent-color);
}
.form-textarea:focus + .textarea-label, .form-textarea:not(:placeholder-shown) + .textarea-label {
  color: var(--accent-color);
}
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-field.policy {
  margin-bottom: 0px;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-terms {
  text-decoration: none;
  margin-left: 5px;
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.submit-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* box-shadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%); */
  background-color: var(--main-bg-color);
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  align-items: center;
  margin: 0px;
  padding: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-modal {
  color: #000000;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-modal:hover, .icon-close-modal:focus {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */