
:root{
 --primary-text-color: #212121;

 --title-text-color:#757575;

--accent-color: #2196F3;

--primary-bg-color:#FFFFFF;

--second-bg-color:#F5F4FA;

--black-bg:#2F303A;

--primary-white-color:#FFFFFF;

--icon-color:#AFB1B8;
}


body {
font-family: 'Roboto', sans-serif;
background-color:var(--primary-bg-color);
color: var(--primary-text-color);
letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.7;

}

/* основной цвет color: #212121 *

/* вторичный основной цвет color: #757575;  */

/* Акцент color: #2196F3; */

/* Белый color: #FFFFFF; */

/* Цвет фона background: #F5F5F5; */

/* Вторичный цвет фона background: #F5F4FA; */

/* Тёмный фон background: #2F303A; */

h1,h2,h3,h4,h5,h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    
}
.logo {
color: var(--primary-text-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo-span{
color: var(--accent-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}

/* Site-nav */

.nav-header{
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
}

.site-nav{
    display: flex;
    gap: 50px;
    align-items: center; 
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;          
}

.header-logo{
    margin-right: 93px;  
     
}    
.link-icon{
fill: currentColor;
margin-right: 10px;
transition-property: text-shadow;
transition-duration: 250ms;

}
.link-icon:hover,
.link-icon:focus{
    text-shadow: 3px 5px 4px rgba(0,0,0,0.19);
    
    
}

.site-nav-flex {
color: var(--primary-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;     
content: "";
position: relative;
transition-property: color;
transition-duration: 250ms;


}

.site-nav-flex:hover,
.site-nav-flex:focus {
color:var(--accent-color);

}
.link{
    text-decoration: none;
}

.current::after{
content: "";
position: absolute;
width: 100%;
height: 4px;
top: 45px;
left: 0;
background-color: var(--accent-color);
border-radius: 2px;
display: flex;
align-items: center;
justify-content: center;
}

.link.current {
color: var(--accent-color)
}

.contact{
    display: flex;
    gap: 50px;
    align-items: center; 
}
.contact-post{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15px;
letter-spacing: 0.02em;
}


/* Hero */

.hero{    
text-align: center;  
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
background-position: 50% 50%;
background-repeat: no-repeat;    
background-size: contain;    
margin-right: auto;
margin-left: auto;
max-width: 1600px;

}

.hero-title {
/* display:inline-block; */
max-width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
color:var(--primary-white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

}

/* Containers */
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.container-partners{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-header { 
    display: flex;
    align-items: center;    
   
}
.second-cont-heder{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
    padding-bottom: 32px;
    padding-top: 32px;
}
.container-about{
display: flex;
text-align: center;
max-width: 1200px;


}
.cont-works{    
    text-align: center;
       
}
.cont-workers{
    background-color: var(--second-bg-color);
    text-align: center;
   
}
.flex-foto-workers{
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.container-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;      
}
.container-footer {
display: flex;
align-items: center;
    
}
.cont-portfolio {
    align-items: center; 
 }

.no-padding{    
    padding-top: 0;
    padding-bottom: 0;
}

/* Flex */

.flex-feature{
    display:flex;        
    align-items: top;      
    max-width: 270px;
    gap: 30px;
    
}

.flex-projects {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;    
}
.profects-id{
    background-color: var(--primary-bg-color);
}

.description {
position: relative;
overflow: hidden;
}
.description-text {
font-family: 'Roboto';
font-style: normal;
font-size: 18px;
line-height: 1.55;
color: var(--primary-white-color);
position: absolute;
padding: 24px 63px;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms ;
/* transition: transform 250ms ease  ; */
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list:hover .description-text {
transform: translateY(0);
}

.flex-workers{
    display:flex;
    flex-wrap: wrap; 
    gap: 30px; 
}
.workers-names{
padding-top: 30px;
padding-bottom: 30px;
padding-left: auto;
padding-right: auto;
background-color: var(--primary-bg-color);
border: 1px solid  rgba(116, 93, 93, 0.1);
}
.decoration{
    content: "";
    position: relative;   
}
.decoration-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: var(--primary-white-color);

content: "";
position: absolute;
background-color: rgba(47, 48, 58, 0.8);
width: 100%;
height: 70px;
bottom: 0;
left: 0; 
display: flex;
justify-content: center;
align-items: center;
}
/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  
    min-width: 528px;
    min-height: 581px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 40px;
  
    background: var(--primary-bg-color);
  } 
   
  .form-title {
    display: block;
    margin-bottom: 30px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
  }
  
  .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }
  
  .form-textarea {
    position: relative;
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    outline: none;
  }
  
  .form-field:nth-child(5) {
    margin-bottom: 20px;
  }
  
  .form-label {
    position: absolute;
    top: -20px;
    left: 0;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    
  }
    
  .form-input:focus {
    border-color: var(--accent-color);
  }
  
  .textarea-label {
    position: absolute;
    top: -20px;
    left: 0;
    margin: 0;  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
  }
  
  .form-textarea:focus + .textarea-label,
  .form-textarea:not(:placeholder-shown) + .textarea-label {    
    color: var(--accent-color);
  }
  
  .form-textarea:focus {
    border-color: var(--accent-color);
  }
  
  .form-input {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    width: 448px;
    height: 40px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    color: #212121;
    outline: none;
  }
  
  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--title-text-color);
  
    transform: translateY(-50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .form-input:focus ~ .form-icon {
    fill: var(--accent-color);
  }
  
  .policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: #757575;
  }
  
  .form-field.policy {
    margin-bottom: 0px;
  }
  
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
  
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox:checked + .checkbox-icon {    
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url("../images/check.svg");
    background-size: contain;
    background-origin: border-box;
  }
  
  .policy-terms {
    text-decoration: none;
    margin-left: 5px;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  
  .submit-button {
    width: 200px;
    height: 50px;
  
    border-radius: 4px;
    padding: 6px 22px;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
    background-color: var(--main-bg-color);    
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
    padding: 5px;
  }
  .icon-close-modal{
    color:#000000
  }
  
  .icon-close-modal:hover,
  .icon-close-modal:focus{    
    fill:var(--accent-color);
  }




/* Section */

.section {
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-top: 94px;
    
}
.section-team{
    padding: 94px 0;
    background-color: var(--second-bg-color);
}
.portfolio-section,
.section-partners{
    padding: 94px 0;
}
.section-ourworks{
padding-bottom: 94px;
text-align: center;
}
.header {
background-color: var(--primary-white-color);
border-bottom: 0.01px solid #ECECEC;

}
.section-title{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.title-clients{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
     
}

.feature-list .title{
color: var(--primary-text-color);
}
.title {
margin-top: 0;
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
text-transform: uppercase;
display: inline-block;
width: 270px;
text-align: left;
}

.feature-list .link{
    color:var(--primary-text-color);
}
.second-text {
    color: var(--title-text-color);
    display: inline-block;
    text-align: left;
}

.team-names {
margin-top: 0;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
}
.text-team {
font-size: 16px;
line-height: 1.2;
text-align: center;
color:var(--title-text-color);
margin-bottom: 16px;
}
.team-names {
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
}

.social-list{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.advantage{

background-color: var(--second-bg-color);
max-width: 270px;
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
padding: 25px 100px;
margin-bottom: 30px;
}

.social-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 250ms;

}  

.social-list-link:hover, 
.social-list-link:focus {
background-color:  var(--accent-color);
color: var(--primary-white-color);
}
.icons {fill: currentColor;}

/* JOIN */
.title-join{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.15;
text-transform: uppercase;
color:var(--primary-white-color);
margin-bottom: 20px;
}

.join{
    margin-left: 70px;   
    padding-top: 72px;
    padding-bottom: 100px;
}

.ul-join{
display: flex;
align-items: flex-start;
gap: 10px;
}

.join-list{
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: var(--primary-white-color);
background-color: rgba(255, 255, 255, 0.1);
transition-property: color, background-color;
  transition-duration: 250ms;


}
.join-list:hover,
.join-list:focus{
background-color:  var(--accent-color);
color: var(--primary-white-color);

}

.our-partners{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}
.partners-number{
width: 170px;
height: 92px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #AFB1B8;
border-radius: 5px;
background-color: var(--primary-bg-color);
transition-property: fill,  border-color;
  transition-duration: 250ms;

}

.partners-number:hover .icons-partners,
.partners-number:focus .icons-partners{
    fill:var(--accent-color);
}
.partners-number:hover,
.partners-number:focus{
    border-color: var(--accent-color);
}

.icons-partners{
fill: var(--icon-color);
transition-property: fill;
  transition-duration: 250ms;
}

/* Butoon */



.numb-post {
    transition-property: color, text-shadow;
transition-duration: 250ms;
    color: var(--title-text-color)
}
.numb-post:hover,
.numb-post:focus{
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.button {
/* display:inline-block; */
border-radius: 4px;
padding:  10px 32px;
min-width: 216px;
border: 1px solid transparent;
background-color: var(--accent-color);
color: var(--primary-white-color);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
cursor: pointer;
letter-spacing: 0.06em;
transition-property: color, background-color;
transition-duration: 250ms;
}
.button:active,
.button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    }


/* Footer */
.footer{
background-color: var(--black-bg);

}

.footer-nav {
display: inline-block;
margin-bottom: 9px;
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
color: var(--primary-white-color);
text-decoration: none;
transition-property: color;
transition-duration: 250ms;

}
.footer-nav:active, .footer-nav:hover,
.footer-link:active, .footer-link:hover {
    color:var(--accent-color)
}
.footer-adress {
    font-style: normal;
}

.footer-link  {
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.footer-link-mail {
    display: inline-block;
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.logo-footer {
display:inline-block;
margin-bottom: 20px;
color: var(--primary-white-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;

}
.footer-subscribe{
    padding-top: 72px;
    padding-bottom: 94px;

}
.footer-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.15;
color: var(--primary-white-color);
margin-left: 93px;
margin-bottom: 20px;


  }

.button-footer-submit{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
padding-left: 28px;
width: 200px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--accent-color);
color: var(--primary-white-color);
/* border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 5px; */
transition-property: color, background-color;
transition-duration: 250ms;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.icon-telegram{
margin-left: 10px;  
display: flex;
align-items: center;
text-align: center; 
padding-top: 10px;
padding-bottom: 10px;
padding-right: 28px;
}

.footer-email{
display: flex;
gap: 12px;
margin-left: 93px;

}
.footer-email-text{
color: rgba(255, 255, 255, 0.6);
background-color: transparent;
padding-left: 16px;
width: 358px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 5px;
box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.15));

  }
  


/* PORTFOLIO */
.portfolio-body {
    background-color: var(--primary-white-color);
}
.portf-gallery{
    display: flex;
}
.portfolio-projects {
    display: flex;    
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;

}
.project-list{  
    transition-property: background-color;
transition-duration: 250ms;        
background-color: var(--primary-bg-color); 

}
.project-list:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.description > img {    
    display: block;
    width: 100%;
    
}
.project-name{
    max-width: 370px;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;  
}

.portfolio-button {
display:inline-block;
border-radius: 4px;
border: 1px solid transparent;
background-color: var(--second-bg-color);
color: var(--primary-text-color);
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
cursor: pointer;
padding:  6px 22px;
transition-property: color, background-color, box-shadow;
transition-duration: 250ms;
}

.portfolio-button:hover,
.portfolio-button:focus {
background-color: var(--accent-color);
color: var(--primary-white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-text-pf{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;
color: var(--title-text-color);
}

.title-pf {
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;

}

.portf-button-list{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;

}

.flex-portf-button{
    gap: 8px;
    display:flex;
    justify-content: center;  
    margin-bottom: 50px;
}



/* Hiden */
.visually-hidden { position: absolute; white-space: nowrap; width: 1px; height: 1px; overflow: hidden; border: 0; padding: 0; clip: rect(0 0 0 0); clip-path: inset(50%); margin: -1px; } 
