
:root{
 --primary-text-color: #212121;

 --title-text-color:#757575;

--accent-color: #2196F3;

--primary-bg-color:#F5F5F5;

--second-bg-color:#F5F4FA;

--black-bg:#2F303A;

--primary-white-color:#FFFFFF;
}


body {font-family: 'Montserrat', sans-serif;
 background-color:var(--primary-bg-color);
}

/* основной цвет color: #212121 *

/* вторичный основной цвет color: #757575;  */

/* Акцент color: #2196F3; */

/* Белый color: #FFFFFF; */

/* Цвет фона background: #F5F5F5; */

/* Вторичный цвет фона background: #F5F4FA; */

/* Тёмный фон background: #2F303A; */

.logo {
  color: var(--primary-text-color);
}
.logo:hover{
    color: var(--accent-color);
}
.list {list-style: none;}

/* Site-nav */

.site-nav{
    color: var(--primary-text-col);
}
.site-nav .link:hover, 
.site-nav .link:focus {   
color:var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color)
}

/* Hero */
.hero-title {
    color:var(--primary-text-color);
}

/* Section */
.section-title{
    color: var(--primary-text-color);
}

.feature-list .title{
color: var(--primary-text-color);
}
.feature-list .link{
    color:var(--primary-text-color);
}
.second-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: var(--title-text-color)
}
.text-team {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
}


/* Butoon */

.button {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color)
}

/* Footer */
.footer{
    background-color: var(--black-bg);
}

.footer-nav {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--primary-white-color);
}
.footer .footer-nav:hover,
.footer .footer-link:hover {
    color:var(--accent-color)
}
.footer-link  {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.logo-footer {
    color: var(--primary-white-color);
  }
  .logo-foter:hover {
      color: var(--accent-color);
  }
