
:root{
 --primary-text-color: #212121;

 --title-text-color:#757575;

--accent-color: #2196F3;

--primary-bg-color:#FFFFFF;

--second-bg-color:#F5F4FA;

--black-bg:#2F303A;

--primary-white-color:#FFFFFF;

--icon-color:#AFB1B8;
}


body {
font-family: 'Roboto', sans-serif;
background-color:var(--primary-bg-color);
color: var(--primary-text-color);
letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.7;

}

/* основной цвет color: #212121 *

/* вторичный основной цвет color: #757575;  */

/* Акцент color: #2196F3; */

/* Белый color: #FFFFFF; */

/* Цвет фона background: #F5F5F5; */

/* Вторичный цвет фона background: #F5F4FA; */

/* Тёмный фон background: #2F303A; */

h1,h2,h3,h4,h5,h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    
}
.logo {
color: var(--primary-text-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo-span{
color: var(--accent-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}

/* Site-nav */

.nav-header{
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
}

.site-nav{
    display: flex;
    gap: 50px;
    align-items: center; 
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    

       
}

.header-logo{
    margin-right: 93px;  
     
}    
.link-icon{
fill: currentColor;
margin-right: 10px;

}
.link-icon:hover,
.link-icon:focus{
    text-shadow: 3px 5px 4px rgba(0,0,0,0.19);
}

.site-nav-flex {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;    
}

.site-nav-flex:hover,
.site-nav-flex:focus {
color:var(--accent-color);
}

.contact{
    display: flex;
    gap: 50px;
    align-items: center; 
}
.contact-post{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15px;
    letter-spacing: 0.02em;
    }


/* Hero */

.hero{
    
    text-align: center;  
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;    
    background-size: contain;    
    padding-left:  15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
}

.hero-title {
/* display:inline-block; */
max-width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
color:var(--primary-white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

}

/* Containers */
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.container-partners{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-header { 
    display: flex;
    align-items: center;    
   
}
.second-cont-heder{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
    padding-bottom: 32px;
    padding-top: 32px;
}
.container-about{
display: flex;
text-align: center;
max-width: 1200px;


}
.cont-works{    
    text-align: center;
    
}
.cont-workers{
    background-color: var(--second-bg-color);
    text-align: center;
   
}
.flex-foto-workers{
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.container-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;      
}
.container-footer {
display: flex;
align-items: center;
    
}
.cont-portfolio {
    align-items: center; 
 }

.no-padding{    
    padding-top: 0;
    padding-bottom: 0;
}

/* Flex */

.flex-feature{
    display:flex;        
    align-items: top;      
    max-width: 270px;
    gap: 30px;
    
}

.flex-projects {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;    
}

.flex-workers{
    display:flex;
    flex-wrap: wrap; 
    gap: 30px; 
}
.workers-names{
padding-top: 30px;
padding-bottom: 30px;
padding-left: auto;
padding-right: auto;
background-color: var(--primary-bg-color);
border: 1px solid  rgba(116, 93, 93, 0.1);
}


/* Section */

.section {
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-top: 94px;
    
}
.section-team{
    padding: 94px 0;
    background-color: var(--second-bg-color);
}
.portfolio-section,
.section-partners{
    padding: 94px 0;
}
.section-ourworks{
padding-bottom: 94px;
}
.header {
background-color: var(--primary-white-color);
border-bottom: 0.01px solid  rgba(116, 93, 93, 0.050);

}
.section-title{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.title-clients{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
     
}

.feature-list .title{
color: var(--primary-text-color);
}
.title {
margin-top: 0;
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
text-transform: uppercase;
display: inline-block;
width: 270px;
text-align: left;
}

.feature-list .link{
    color:var(--primary-text-color);
}
.second-text {
    color: var(--title-text-color);
    display: inline-block;
    text-align: left;
}

.team-names {
margin-top: 0;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
}
.text-team {
font-size: 16px;
line-height: 1.2;
text-align: center;
color:var(--title-text-color);
}
.team-names {
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
}

.social-list{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.advantage{

background-color: var(--second-bg-color);
max-width: 270px;
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
padding: 25px 100px;
margin-bottom: 30px;
}

.social-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: transparent;

}  

.social-list-link:hover, 
.social-list-link:focus {
background-color:  var(--accent-color);
color: var(--primary-white-color);
}
.icons {fill: currentColor;}

/* JOIN */
.title-join{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.15;
text-transform: uppercase;
color:var(--primary-white-color);
margin-bottom: 20px;
}

.join{
    margin-left: 70px;   
    padding-top: 72px;
    padding-bottom: 100px;
}

.ul-join{
display: flex;
align-items: flex-start;
gap: 10px;
}

.join-list{
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: var(--primary-white-color);
background-color: transparent;
}
.join-list:hover,
.join-list:focus{
background-color:  var(--accent-color);
color: var(--primary-white-color);
}

.our-partners{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}
.partners-list{
max-width: 170px;
padding: 16px 32px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid  rgba(116, 93, 93, 0.075);
}
.partners-number{
    background-color: var(--primary-bg-color);
}
.partners-list:hover .icons-partners,
.partners-list:focus .icons-partners{
fill:var(--accent-color);
color: var(--accent-color);

border-color: var(--accent-color);
}
.partners-list:hover,
.partners-list:focus{
    border-color: var(--accent-color);
}
.icons-partners{
fill: var(--icon-color);
}
/* Butoon */


.link{
text-decoration: none;
}

.link.current {
color: var(--accent-color)
}
.numb-post {
    color: var(--title-text-color)
}
.numb-post:hover,
.numb-post:focus{
    color: var(--accent-color);
    text-shadow: 3px 5px 4px rgba(0,0,0,0.19);
}

.button {
/* display:inline-block; */
border-radius: 4px;
padding:  10px 32px;
min-width: 216px;
border: 1px solid transparent;
background-color: var(--accent-color);
color: var(--primary-white-color);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
cursor: pointer;
letter-spacing: 0.06em;
}
.button:active,
.button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}


/* Footer */
.footer{
background-color: var(--black-bg);
/* padding-top: 60px;
padding-bottom: 60px;    */


}

.footer-nav {
display: inline-block;
margin-bottom: 9px;
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
color: var(--primary-white-color);
text-decoration: none;

}
.footer-nav:active, .footer-nav:hover,
.footer-link:active, .footer-link:hover {
    color:var(--accent-color)
}
.footer-adress {
    font-style: normal;
}

.footer-link  {
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.footer-link-mail {
    display: inline-block;
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.logo-footer {
display:inline-block;
margin-bottom: 20px;
color: var(--primary-white-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;

  }



/* PORTFOLIO */
.portfolio-body {
    background-color: var(--primary-white-color);
}
.portf-gallery{
    display: flex;
    
}
.portfolio-projects {
    display: flex;    
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;

}
.project-list{        
background-color: var(--primary-bg-color);   
}
.project-list:hover{
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.project-list > img {
    display: block;
    width: 100%;

}
.project-name{
    max-width: 370px;
    padding: 20px 24px;
    border: 1px solid  rgba(116, 93, 93, 0.075);    
}

.portfolio-button {
display:inline-block;
border-radius: 4px;
border: 1px solid transparent;
background-color: var(--second-bg-color);
color: var(--primary-text-color);
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
cursor: pointer;
padding:  6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
background-color: var(--accent-color);
color: var(--primary-white-color);
box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.second-text-pf{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;
color: var(--title-text-color);
}

.title-pf {
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;

}

.portf-button-list{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;

}

.flex-portf-button{
    gap: 8px;
    display:flex;
    justify-content: center;  
    margin-bottom: 50px;
}



/* Hiden */
.visually-hidden { position: absolute; white-space: nowrap; width: 1px; height: 1px; overflow: hidden; border: 0; padding: 0; clip: rect(0 0 0 0); clip-path: inset(50%); margin: -1px; } 
