.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}
