.footer {
  background-color: var(--black-bg);
  padding-top: 60px;
  padding-bottom: 60px; 
}
.footer__container {
  align-items: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
    
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and(max-width: 1200px){
    justify-content: space-around;
  }
  @media screen and(min-width: 1200px){
    width: 1200px;
    display:flex;
    align-self: baseline;
    }    
}
.footer__nav {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;

  &:active,
  &:hover,
  .footer__link:active,
  .footer__link:hover {
    color: var(--accent-color);
  }
}
.footer__adress {
  font-style: normal;
}

.footer__link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__link-mail {
  // font-family: 'Roboto';
  // font-style: normal;
  display: inline-block;
  margin-bottom: 9px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.footer__logo-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer__numb-post {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);

  transition-property: color, text-shadow;
  transition-duration: 250ms;
  
  text-decoration: none;
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.join {
  // margin-left: 70px;
  // padding-top: 72px;
  // padding-bottom: 100px;
  @media screen and(min-width: $tablet) and (max-width: $desktop ){
    // margin-right: 93px;.
    
    }    
    @media screen and(min-width: $desktop){
margin-right: 93px;
    }

}
.join__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  @media screen and(max-width: $desktop){
 text-align:center;
  }
}

.join__list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  @media screen and(max-width: $tablet){
  margin-bottom: 60px;
  }    
  }
  .footer__navigation{
    @media screen and(max-width: 1200px){
      margin-bottom: 60px;
      }    
      @media screen and(min-width: 1200px){
        margin-right: 70px;
        }    
  }


.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}
.subscribe {
//  display: flex;
//   flex-wrap: nowrap;
display: flex;
  
}
.subscribe__title-block{
  @media screen and (max-width: 1999px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    
  }
}
.subscribe__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  
   
}

.subscribe__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-left: 28px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;  
  margin: 0 auto;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  /* border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px; */
  transition-property: color, background-color;
  transition-duration: 250ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 28px;
  height: 50px;
}

.subscribe__icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscribe__email {
  @media screen and (min-width: 1200px) {
   display: flex;
   flex-wrap: nowrap;
  }
  
}

.subscribe__second-text {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding-left: 16px;
 
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-right: 12px;
  height: 50px;
    @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
     
}
@media screen and (min-width: $tablet) {
  width: 450px;

}
@media screen and (min-width: $desktop) {
width: 358px;
}
}