.hero {
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}
.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  /* display:inline-block; */
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
