.portfolio-body {
    background-color: var(--primary-white-color);
  }

.portfolio-section{
    padding: 94px 0;
  }
  .cont-portfolio {
  align-items: center;
}
.button-set {
    gap: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .butoon-set__list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
  }
  .button-set__button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--second-bg-color);
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
    padding: 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
  }
  
  .button-set__button:hover,
  .button-set__button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    opacity: 1;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

//   Gallery

.portf-gallery {
    display: flex;
  }
  .portf-gallery__set {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
  }
  .projects {
    transition-property: background-color;
    transition-duration: 250ms;
    background-color: var(--primary-bg-color);
  }
  .projects:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .projects:hover .projects__text {
    transform: translateY(0);
  }
  .projects__description > img {
    display: block;
    width: 100%;
  }
  .projects__name {
    max-width: 370px;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
  
  
  
  .projects__second-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color);
  }
  
  .projects__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  .projects__description {
    position: relative;
    overflow: hidden;
  }
  .projects__text {
    font-family: "Roboto";
    font-style: normal;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-white-color);
    position: absolute;
    padding: 24px 63px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    /* transition: transform 250ms ease  ; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }